.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.btn-link {
    padding: 0;
    font-size: 0.9rem;
}

.text-gray {
    color: #6c757d !important;
    padding: 0;
    font-size: 0.9rem;
}

.position-relative {
    position: relative;
}

.toggle-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
}

input.form-control {
    padding-right: 2.5rem;
    /* Garante espaço para o ícone */
}

.toggle-icon svg {
    width: 1.5rem;
    height: 1.5rem;
}