<app-header [showMenus]="true"></app-header>

<main>
    <!-- Fisrt Content -->
    <div class="container col-xxl-8 px-4 py-0">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="7c8b46b9-992f-4b8e-98ac-bc25883f9206.png" class="d-block mx-lg-auto img-fluid" alt="Mercearia Digital" width="400"
                    height="200">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">A melhor plataforma para o Lojista
                </h1>
                <p class="lead">Impulsione suas vendas com a melhor plataforma digital de vendas para Lojistas! Fácil de
                    usar, segura e completa, ideal para pequenas e médias empresas crescerem rápido. Conquiste mais
                    clientes agora! 🚀</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Fale com o time de vendas</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Funcionalidades da plataforma</h2>

        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col d-flex flex-column align-items-start gap-2">
                <h2 class="fw-bold text-body-emphasis">As principais funcionalidades da nossa plataforma</h2>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add
                    onto it with another sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary btn-lg">Primary button</a>
            </div>

            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#collection" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Loja Online</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#gear-fill" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Pedidos e Entregas</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#gear-fill" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Ponto de Venda</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#gear-fill" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Integrações</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#speedometer" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Finanças</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#table" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Gerenciamento</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-3">

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Planos e Preços</h1>
            <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers
                with this Bootstrap example. It’s built with default Bootstrap components and utilities with little
                customization.</p>
        </div>

        <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Gratuito</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$0<small
                                class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 loja</li>
                            <li>1 caixa</li>
                            <li>50 produtos</li>
                            <li>50 entregas/mês</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Assine sem custo</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Básico</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$85<small
                                class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 loja</li>
                            <li>2 caixas</li>
                            <li>200 produtos</li>
                            <li>200 entregas/mês</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Assine agora</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Intermediário</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$215<small
                                class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 loja</li>
                            <li>4 caixas</li>
                            <li>400 produtos</li>
                            <li>300 entregas/mês</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">Comece agora</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Completo</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$<small
                                class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>>1 loja</li>
                            <li>>4 caixas</li>
                            <li>>400 produtos</li>
                            <li>>300 entregas/mês</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">Fale conosco</button>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="display-6 text-center mb-4">Compare os planos e funcionalidades</h2>

        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Free</th>
                        <th style="width: 22%;">Pro</th>
                        <th style="width: 22%;">Enterprise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Public</th>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Private</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Permissions</th>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Sharing</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Unlimited members</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Extra security</th>
                        <td></td>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<app-footer />