<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check" viewBox="0 0 16 16">
        <path
            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
    </symbol>
    <symbol id="collection" viewBox="0 0 16 16">
        <path
            d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
    </symbol>
    <symbol id="speedometer" viewBox="0 0 16 16">
        <path
            d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
        <path fill-rule="evenodd"
            d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
    </symbol>
    <symbol id="table" viewBox="0 0 16 16">
        <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
    </symbol>
    <symbol id="gear-fill" viewBox="0 0 16 16">
        <path
            d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
    </symbol>
</svg>

<app-header [showMenus]="true"></app-header>

<main>
    <!-- Fisrt Content -->
    <div class="container col-xxl-8 px-8 py-0">
        <div class="row flex-lg-row-reverse text-center align-items-center g-5 py-5">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">A melhor plataforma de aluguel de quadras, desafios e eventos esportivos do Brasil
            </h1>
            <p class="lead">O quadras.online é a plataforma ideal para quem busca alugar quadras esportivas, 
                participar de desafios entre jogadores, organizar torneios e ligas, ou encontrar os melhores 
                eventos da sua região. Com um sistema inteligente de busca e agendamento, você reserva quadras 
                de tênis, padel, squash, beach tênis e outros esportes com poucos cliques. Conecte-se com outros 
                atletas, acompanhe rankings e participe de competições locais ou regionais — tudo em um só lugar, 
                com praticidade, segurança e foco na experiência esportiva.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Encontrar Quadras</button>
            </div>
        </div>
    </div>

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Funcionalidades da plataforma</h2>

        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col d-flex flex-column align-items-start gap-2">
                <h2 class="fw-bold text-body-emphasis">As principais funcionalidades da nossa plataforma</h2>
                <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add
                    onto it with another sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary btn-lg">Primary button</a>
            </div>

            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#collection" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Loja Online</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#gear-fill" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Pedidos e Entregas</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#gear-fill" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Ponto de Venda</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#gear-fill" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Integrações</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#speedometer" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Finanças</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <div
                            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#table" />
                            </svg>
                        </div>
                        <h4 class="fw-semibold mb-0 text-body-emphasis">Gerenciamento</h4>
                        <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-3">

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Planos e Preços</h1>
            <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers
                with this Bootstrap example. It’s built with default Bootstrap components and utilities with little
                customization.</p>
        </div>

        <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Gratuito</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$0<small
                                class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 loja</li>
                            <li>1 caixa</li>
                            <li>50 produtos</li>
                            <li>50 entregas/mês</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Assine sem custo</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Básico</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$85<small
                                class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 loja</li>
                            <li>2 caixas</li>
                            <li>200 produtos</li>
                            <li>200 entregas/mês</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary">Assine agora</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Intermediário</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$215<small
                                class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>1 loja</li>
                            <li>4 caixas</li>
                            <li>400 produtos</li>
                            <li>300 entregas/mês</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">Comece agora</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Completo</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">R$<small
                                class="text-body-secondary fw-light">/mês</small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>>1 loja</li>
                            <li>>4 caixas</li>
                            <li>>400 produtos</li>
                            <li>>300 entregas/mês</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary">Fale conosco</button>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="display-6 text-center mb-4">Compare os planos e funcionalidades</h2>

        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Free</th>
                        <th style="width: 22%;">Pro</th>
                        <th style="width: 22%;">Enterprise</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Public</th>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Private</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Permissions</th>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Sharing</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Unlimited members</th>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Extra security</th>
                        <td></td>
                        <td></td>
                        <td><svg class="bi" width="24" height="24">
                                <use xlink:href="#check" />
                            </svg></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<app-footer />